# Node
node_modules/
build/
dist/

# OS
.DS_Store

# Backend runtime
Hotel-Availability-System-Backend/logs/*.DS_Store
Hotel-Availability-System-Backend/uploads/*.DS_Store
Hotel-Availability-System-Backend/uploads/hotels/*.DS_Store